.mainContainer {
  background-color: gray;
  border: 2px solid black;
  text-align: center;
}

.inputStyle {
  text-align: center;
  background-color: rgb(224, 216, 95);
}

.outStyle {
  text-align: center;
  background-color: rgba(131, 240, 227, 0.83);
}
